.sidebar {
    width: 317px;
    height: 720px;
    left: 70px;


    background-color: white;
    box-shadow: 0px 10px 40px rgba(29, 33, 38, 0.13), 0px 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 0px;
}

.sidebar.open {
}

.background {

}

.nav {
    display: flex;

    flex-direction: column;
    background-color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-decoration: none;
    color: #3D6B99;

}

.nav a {
}

.nav a:hover {
}

.nav a.active {
    color: #7fb8f1;
    text-decoration: underline;
}
.close {

}

.close img {
}
